.idea/*
input/*
!input/empty.txt
output/*
!output/empty.txt
*.pyc
*.bak
tmp/*
!tmp/empty.txt
userMappings/*
!userMappings/empty.txt
UI/output/*
!UI/output/empty.txt
*.xlsx
userMappingsBkp/*
!userMappingsBkp/empty.txt
config/pickledSvNlpLookup.p
config/pickledMvNlpLookup.p
actors.py
waste.txt
bin/Waste1.py
*.interim
*.zip