<div class="col-md-offset-2 col-sm-offset-3 col-xs-offset-1 content-wrapper leftmargin">
  <div class="main">
    <div class="alpha">
      <ul class="pageHeader">
        <li>Add New User</li>
      </ul>
    </div>
  </div>
    <!-- Main content -->
    <section class="contentSection">
      <div class="row tableBox">
      <!-- Your Page Content Here -->
      <div class="container-fluid contentbody">
        <form class="form-horizontal" form  name="userForm" ng-submit="userForm.$valid && addNewUser()" style="padding-top:5%">
              <div class="form-group">
                <label class="col-md-4 control-label">Username</label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input  name="userName" ng-model="user.userName" placeholder="Username" class="form-control"  type="text" ng-pattern="/^[a-zA-Z0-9]*$/" autocomplete="off" required>
                  </div>
                </div>
                 <div class="col-md-4" ng-messages="userForm.userName.$error">
                    <div ng-message="pattern" style="color:red">Usename  is invalid please use only alphabets and numbers</div>
                 </div>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                  <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="email" ng-model="user.email" placeholder="E-Mail Address" class="form-control" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autocomplete="off" required>
                  </div>
                </div>
                 <div class="col-md-4" ng-messages="userForm.email.$error">
                    <div ng-message="pattern" style="color:red">Please enter valid email</div>
                  </div>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                  <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="password" id="password" ng-model="user.password" maxlength=16 pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,16}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Password must contain minimum 8 characters including atleast one lower case,upper case,digit and special character.' : ''); if(this.checkValidity()) form.confirmPassword.pattern = this.value;" placeholder="Password" class="form-control"  type="password" required>
                  </div>
                </div>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Confirm Password</label>
                  <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="confirmPassword" maxlength=16 id="confirmPassword" ng-model="confirmPassword" pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Confirm Password" class="form-control"  type="password" required>
                  </div>
                </div>
              </div>
              <!-- radio checks -->
              <!-- <div class="form-group">
                <label class="col-md-4 control-label">Role</label>
                <div class="col-md-4">
                  <div class="radio radio-inline">
                    <label>
                      <input type="radio" name="role" ng-model="user.role" value="admin" ng-required="!user.role"/> Admin
                    </label>
                  </div>
                  <div class="radio radio-inline">
                    <label>
                      <input type="radio" name="role" ng-model="user.role" value="user" ng-required="!user.role"/> User
                    </label>
                  </div>
                </div>
              </div> -->
              <!-- Text input-->
              <!-- <div class="form-group">
                <label class="col-md-4 control-label">Profile Pic</label>
                  <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type = "file" file-model = "myFile"/>
                    <button ng-click = "uploadFile()">Upload</button>
                  </div>
                </div>
              </div> -->
              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br>
                  <!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp -->
                  <button type="submit" class="btn btndefault" style="margin-top:20px;">
                    <!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp -->
                    SUBMIT <span class="glyphicon glyphicon-send"></span>
                    <!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp -->
                  </button>
                </div>
              </div>
            <!-- </fieldset> -->
        </form>
        <!-- Modal -->
         <div class="modal fade" id="setUserModal" role="dialog">
           <div class="modal-dialog">
             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header" style="background:#1e282c;color:white;height:50px">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Success</h4>
               </div>
               <div class="modal-body">
                 <h4><span>Users Saved Successfully</span></h4>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btndefault" style="width:15%" data-dismiss="modal">Close</button>
               </div>
             </div>

           </div>
         </div>
        <!-- End Modal -->
      </div>
     </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
