<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>

    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row tableBox" style="height: 502px;">
      <div class="container-fluid contentbody" style="padding-right:6%">
        <div class="row" style="margin-bottom:1%">
          <div class="col-md-3">
            <button type="button" class="btn btndefault" name="button" style="border-radius:25px">Demo-Addr Add</button>
          </div>
        </div>
        <div class="row" style="margin-bottom:1%">
          <div class="col-md-3">
            <button type="button" class="btn btndefault" name="button" style="border-radius:25px">Demo-Addr Chg</button>
          </div>
        </div>
        <div class="row" style="margin-bottom:1%">
          <div class="col-md-3">
            <button type="button" class="btn btndefault" name="button" style="border-radius:25px">Demo-Addr Inact</button>
          </div>
        </div>
        <div class="row" style="margin-bottom:1%">
          <div class="col-md-3">
            <button type="button" class="btn btndefault" name="button" style="border-radius:25px">Demo-Non Par Prac Add</button>
          </div>
        </div>
        <div class="row" style="margin-bottom:1%">
          <div class="col-md-3">
            <button type="button" class="btn btndefault" name="button" style="border-radius:25px">Del Demo Prac Add(to grp)</button>
          </div>
        </div>
        <div class="row" style="margin-bottom:1%">
          <div class="col-md-3">
            <button type="button" class="btn btndefault" name="button" style="border-radius:25px">Demo-Tax ID Add(existing)</button>
          </div>
        </div>
        <div class="row" style="margin-bottom:1%">
          <div class="col-md-3">
            <button type="button" class="btn btndefault" name="button" style="border-radius:25px">Demo-Leg Own Nm Chg</button>
          </div>
        </div>
        <div class="row" style="margin-bottom:1%">
          <div class="col-md-3">
            <button type="button" class="btn btndefault" name="button" style="border-radius:25px">Demo-UHCID Add</button>
          </div>
        </div>
        <div class="row" style="margin-bottom:1%">
          <div class="col-md-3">
            <button type="button" class="btn btndefault" name="button" style="border-radius:25px">Demo-UHCID Inact</button>
          </div>
        </div>
        <div class="row" style="margin-bottom:1%">
          <div class="col-md-3">
            <button type="button" class="btn btndefault" name="button" style="border-radius:25px">Contract-Execute</button>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
