<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="main">
    <div class="alpha">
      <ul class="pageHeader">
        <li>Error- <small>Optional description</small></li>
      </ul>
    </div>
  </div>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row tableBox" style="margin-left: 0px;margin-top: -18px;height: 509px;width: 100%;">
      <div class="row">
        <div class="col-md-12">
          <img class="error" src="/static/images/500pageerror.png"/ style="height: 447px;">
        </div>
      </div>

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
