<style>
    label[title]:hover:after {
     content: attr(title);
    position: absolute;
    }
</style>

<div class="col-md-offset-2 col-sm-offset-3 col-xs-offset-1 content-wrapper leftmargin">
  <div class="main">
    <div class="alpha">
      <ul class="pageHeader">
        <li>File Processes SOT > Input</li>
      </ul>
    </div>
  </div>
    <!-- Main content -->
    <section class="contentSection">
      <div class="row tableBox" style="height: 508px;">
      <!-- Your Page Content Here -->
      <div class="container-fluid contentbody" style="padding-right:6%" data-ng-init="getDelegateList()">
        <div class="row" class="autoMargin">
          <div class="col-md-1">
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="row inputrows">
                <label>Choose an Input File to Process</label>
                <hr>
              </div>
              <div class="row input-group form-group">
               <input type="text" class="files" ng-value="myFile"></input>
                <label class="input-group-btn">
                  <span class="btn btndefault1" name="Browse">
                    Browse<input ng-if="selectType=='attachment' || selectType=='pdf'" type="file" ngf-select="upload($files)"  file-model="myFile" name="xlfile" id="xlf" style="display:none;" accept=".html,.htm,.xls,.xlsx,.xlsm,.pdf">
                          <input ng-if="selectType=='nonDelPdf'" type="file" ngf-select="upload($files)" multiple="multiple"  file-model="myFile" name="xlfile1" id="xlf1" style="display:none;" accept=".pdf">
                  </span>
                </label>
                <button type="button" class="btn btn-lg btndefault uploadBtn" value="Upload"  ng-click="uploadFile()">Upload</button>
              </div>
            </div>
            <div class="row input-group form-group">
                <div class="form-group">
                    <strong class="typeSelect" style="font-weight: 500;">
                        Select Type:
                    </strong>
                    <div style="margin-top: 0%;" class="radio radio-inline" >
                        <label style="margin-left: 19%;"><input type="radio" name="delNondelType"
                          ng-model="delNondelType"
                          value="delegate" ng-required="!delNondelType"
                          ng-change="resetNonDel(delNondelType)">Delegate
                        </label>
                  </div>
                    <div class="radio radio-inline" style="margin-top: 0%;">
                    <label><input type="radio" name="delNondelType"
                                  ng-model="delNondelType"
                                  value="nonDelegate" ng-required="!delNondelType"
                                  ng-change="resetNonDel(delNondelType)">Non-Del
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <!-- <div class="radio radio-inline">
                    <label><input type="radio" name="selectType" ng-model="selectType" value="email" ng-required="!selectType"  >Email</label>
                  </div> -->
                    <strong class="typeSelect" style="font-weight: 500;">
                        Select Category:
                    </strong>
                  <div class="radio radio-inline"  style="margin-top:0%;margin-left: -5%;">
                    <label><input type="radio" name="selectType" ng-model="selectType" value="attachment" ng-required="!selectType" ng-click="reset(selectType)">Excel</label>
                  </div>
                  <div class="radio radio-inline" ng-if="delNondelTypeFlag" style="margin-top:0%;">
                    <label style="margin-left: 15%;"><input type="radio" name="selectType" ng-model="selectType" title="pdf" value="pdf" ng-required="!selectType" ng-click="reset(selectType)">PDF</label>
                  </div>
                  <div class="radio radio-inline" ng-if="!delNondelTypeFlag" style="margin-top:0%;">
                    <label style="margin-left: -27%;"><input type="radio" name="selectType" ng-model="selectType" value="nonDelPdf" ng-required="!selectType" ng-click="reset(selectType)">PDF</label>
                  </div>
                </div>
            </div>
            <div class="row inputrows processBtn">
              <!-- <button type="button" class="btn btn-lg btndefault" value="Start Processing" ng-disabled="uploadDoc()" ui-sref="email({emailFile: inputFiles.emailFile,attachmentFile: inputFiles.attachmentFile})" style="height:50px;">Start Processing</button> -->
              <button type="button" class="btn btn-lg btndefault" value="Start Processing" ng-disabled="uploadDoc()" ng-click="saveDelegate()" style="height:34px;">Start Processing</button>
            </div>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-5" ng-if="delNondelTypeFlag">
              <div class="row">
                <label>Delegates</label>
                <hr>
              </div>
              <div class="row unmapInpt">
                <input class="unmapInptSearch" type="text" placeholder="Search" ng-model="userSearch">
              </div>
              <div class="row unmapInptDiv scrollbar">
                <div class="row unmapInpt" ng-repeat="delegate in delegateList | filter:userSearch" ng-if="delegate.status != 'deleted'">
                  <div class="btn-group" style="width:93%;padding-left: 1%;">
                    <button type="button" class="btn button-shadow"  ng-class="delegate == selectedDelegate?'dropdownSuccess':'dropdownBtn'" ng-click="selectDelegate(delegate)" ng-if="delegate.status != 'new'">
                        <span class="unmapSpanData">{{delegate.code}}-{{delegate.name}}</span>
                    </button>
                    <button type="button" class="btn errorRow button-shadow"  ng-class="delegate == selectedDelegate?'dropdownSuccess':'errorRow'" ng-click="selectDelegate(delegate)" ng-if="delegate.status == 'new'">
                        <span class="unmapSpanData">{{delegate.code}}-{{delegate.name}}</span>
                    </button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
