<script>
function myFunction(x) {
    x.classList.toggle("change");
    if (document.getElementById("mySidebar").style.display == "block") {
      document.getElementById("mySidebar").style.display = "none";
    }
    else{
      document.getElementById("mySidebar").style.display = "block";
    }
}
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("anchorLink").classList.toggle("change");
}
</script>
<div class="content-wrapper">
  <div class="col-md-offset-2 col-sm-offset-3 col-xs-offset-1 content-wrapper leftmargin">
    <div class="main">
      <div class="alpha">
        <ul class="pageHeader" style="margin-left:-201px;">
          <li>File Processes SOT > Multivalue Mapping</li>
        </ul>
      </div>
    </div>
      <!-- Main content -->
      <section class="contentSection">
        <div class="row tableBox" style="margin-left:-245px; width:131%;">
        <!-- Your Page Content Here -->
        <div id="mydiv">
          <img  class="mappingSpinner" src="/static/images/page-loader.gif"/>
        </div>

        <div id="container" class="container-fluid contentbody" style="position:relative" data-ng-init="getMVFields()">
          <div class="row" style="margin-top:-2%">
            <div class="col-md-2" style="margin-left: -1.5%;">
              <button type="button" class="btn btndefault" ui-sref="svMap({sheet:sheetName})" ng-click="userCommittedMvMappings()"> < Back</button>
            </div>
            <div class="col-md-2" style="margin-left: -1.5%;">
              <button type="button" class="btn btndefault" data-toggle="modal" data-target="#exampleModalLong">Show Input</button>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2" style="margin-left: 1%;">
              <button type="button" class="btn btndefault" name="button" ui-sref="mapping" ng-click="clearMappings()">Exit</button>
            </div>
            <div class="col-md-2">
              <!-- <button type="button" class="btn btndefault" ng-click="setMvMappingFields()">Next >></button> -->
              <button type="button" class="btn btndefault" ng-click="setMvMappingFields()" ui-sref="mapping">Save</button>
            </div>
          </div>
          <br>
          <div class="row" ng-repeat="fields in multivalueMap" style="margin-top: -1%">
                <div class="navbar">
                  <div class="navbar-inner">
                     <div class="container">
                        <a onclick="myFunction(this)" id="anchorLink" class="btn btn-navbar pull-left navAnchor">
                           <span class="icon-bar bar1 navIcon"></span>
                           <span class="icon-bar bar2 navIcon"></span>
                           <span class="icon-bar bar3 navIcon"></span>
                        </a>
                        <div class="nav-collapse collapse navbar-responsive-collapse pull-left overlay" id="mySidebar">
                          <span class="w3-button w3-display-topright" onclick="w3_close()">X</span>
                          <ul class="collapsibleList" id="newList">
                            <li ng-repeat="mapFields in fields.mapped | unique:'parentCategory'">
                              <a data-toggle="popover" ng-click="showMappings(mapFields.parentCategory)" ng-class="mapFields.parentCategory == selectedCategory?'successAnchor':''"  onclick="w3_close()">{{mapFields.parentCategory}}</a>
                            </li>
                          </ul>
                        </div>
                        <span style="font-size: 16px;font-weight: 600;margin-left: 30%;">{{selectedCategory}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12" style="background-color: #fafafa;padding: 2%;margin-top: -3.5%" ng-repeat="mapFields in fields.mapped | unique:'parentCategory'" ng-show="mapFields.parentCategory == selectedCategory">
                    <div class="row">
                      <div class="col-sm-7 scrollbar" style="overflow-y:scroll;overflow-x:hidden;height:343px;">
                        <div class="row">
                          <new-directive  default-variable='defaultVariable' default-map-table='defaultMapTable' parent-map-table='parentMapTable' new-copy-array='newCopyArray' get-output-object='getOutputObject(selectedOutObject,index,typeSelect,mapTable,idx,parentCategory)' multivalue-map='multivalueMap' fields='fields' parent-category='mapFields.parentCategory' create-map='createMap()'></new-directive>
                        </div>
                      </div>

                      <div class="col-sm-5 mvSugInFields">
                        <div class="row mappingheading mvSugHead">
                          Suggested Input Fields
                        </div>
                        <div class="row mvSugContent">
                          <ul>
                            <li ng-repeat="suggFields in fields.suggested" ng-if="mapFields.parentCategory==suggFields.parentCategory" ng-class="suggFields == selectedInObject?'successList':''" ng-click="selectInItem(suggFields)">
                              <span class="glyphicon glyphicon-link pull-left mvSugSpan" ng-click="createMap(suggFields.inputField)"></span>
                              <span style="padding-left:5%;color:#333333;">{{suggFields.inputField}}</span>
                              <!-- <span class="glyphicon glyphicon-info-sign pull-right mvSugSpan" data-toggle="modal" data-target="#exampleModalLong"></span> -->
                            </li>
                          </ul>
                        </div>
                        <div class="row">
                          <button type="button" class="btn btndefault addFields" ng-click="openAddMoreWindow(mapFields.parentCategory)">Add More Fields</button>

                          <!-- <button type="button" class="btn btndefault addFields" name="button"  data-toggle="modal" data-target="#addMoreFields">Add More Fields</button> -->
                        </div>
                      </div>

                      <!-- Add More Fields Modal -->
                      <script type="text/ng-template" id="addMoreFields.html">
                      <div>
                        <div class="modal-header" style="background:#838282;color:white;height:50px">
                          <button type="button" class="close" ng-click="$dismiss('cancel')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title addMreHeader" id="exampleModalLongTitle">Add More Fields - {{parentCategory}}</h4>
                        </div>
                          <div class="modal-body addMreBody" class="form-group" style="overflow:scroll;overflow-x:hidden;height:400px">
                            <div>
                              <input type="text" placeholder="Search" ng-model="userSearch" style="width:50%;margin-left:4%">
                            </div>
                            <div ng-repeat="fields in items">
                              <ul>
                                <li ng-repeat="suggFields in fields.suggested | filter:{inputField: userSearch}" ng-if="suggFields.parentCategory!=parentCategory">
                                  <div class="checkbox">
                                    <input class="addMreChk" type="checkbox" name="name" ng-value="suggFields.inputField" ng-model="formData[suggFields.inputField]"><label>{{suggFields.inputField}}</label>
                                  </div>
                                </li>
                                <li ng-repeat="unmappedFields in fields.unmappedInpCols | filter:userSearch">
                                  <div class="checkbox">
                                    <input class="addMreChk" type="checkbox" name="name" ng-value="unmappedFields" ng-model="formData[unmappedFields]"><label>{{unmappedFields}}</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        <div class="modal-footer" style="padding:5px;">
                          <span class="glyphicon glyphicon-plus-sign addMreFooter" data-dismiss="modal" ng-click="$dismiss('cancel');addFields(formData,parentCategory)"></span>
                        </div>
                      </div>
                      </script>
                    </div>

                      <div class="row" ng-repeat="asisData in fields.mapped " ng-if="asisData.parentCategory==mapFields.parentCategory">
                        <div class="row asisDiv" ng-if="asisData.type=='AsIs'">
                          <label>Additional Fields</label>
                          <div class="col-sm-12" id="output" style="position:inherit;">
                            <table class="table borderless">
                              <tr ng-repeat="maps in asisData.map track by $index" ng-init="selectedIndex=$index">
                                <td class="col-md-4">
                                  <div class="row" style="margin-right:2%;" title="{{maps.outputField}}" data-toggle="popover" data-placement="bottom" data-trigger="hover">
                                    <button type="button" ng-click="selectAsisItem(maps,$index,asisData.parentCategory)" ng-class="maps == asisSelected?'mvOtBtnSuccess':'mvOtBtn'">
                                      {{maps.outputField}}
                                    </button>
                                  </div>
                                </td>
                                <td class="col-md-4">
                                  <div class="btn mvInfield" ng-if="maps.inputField" title="{{maps.inputField}}" data-toggle="popover" data-placement="bottom" data-trigger="hover">
                                    <span class="glyphicon glyphicon-remove statusicon pull-left" ng-click="rejectAsisMap(maps,mapFields.parentCategory,typeSelected[mapFields.parentCategory][$index])" style="cursor:pointer;color:red;padding-right:0%;padding-top:2%"></span>
                                    {{maps.inputField}}
                                    <!-- <span class="glyphicon glyphicon-remove statusicon pull-right" ng-click="rejectAsisMap(maps,mapFields.parentCategory,typeSelected[mapFields.parentCategory][$index])" style="cursor:pointer;color:red;padding-right:0%;padding-top:2%"></span> -->
                                  </div>
                                </td>
                                <td class="col-md-1 rightSpan" style="padding-top:2.5%;">
                                  <span class="glyphicon glyphicon-arrow-right statusicon" style="color:green;"></span>
                                </td>
                                <td class="col-md-3">
                                  <div class="btn mvInfield">
                                    <span  data-toggle="dropdown">
                                      <span ng-show="!showType[mapFields.parentCategory][$index]" ng-bind="(maps.assocSet != null) ? selectAddType(maps,selectedIndex,maps.assocSet,mapFields.parentCategory) : 'Select Type'">Select Type</span>
                                      <span ng-show="showType[mapFields.parentCategory][$index]">{{typeSelected[mapFields.parentCategory][$index]}}</span>
                                      <!-- <span ng-if="maps.assocSet != null" ng-hide="showType[mapFields.parentCategory][$index]" ng-bind="(maps.assocSet != null) ? selectAddType(maps,selectedIndex,maps.assocSet,mapFields.parentCategory) : 0">{{typeSelected[mapFields.parentCategory][maps.assocSet]}}</span> -->
                                      <span class="glyphicon glyphicon-chevron-down dropdownSpan"></span>
                                    </span>
                                    <div class="dropdown-menu dropdownlist" id="addFieldsDropdown" style="left: 1%;">
                                      <div ng-repeat="types in parentMapTable">
                                        <ul ng-repeat="(category,mapp) in types" ng-if="category==mapFields.parentCategory">
                                          <li ng-repeat="(a,b) in mapp">
                                            <a ng-repeat="(key,value) in b" ng-click="selectAddType(maps,selectedIndex,value.type,mapFields.parentCategory);">{{value.type}}</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                </tr>
                              </table>
                            </div>
                        </div>
                      </div>
                  </div>
          </div>
        </div>
        </div>
      </section>
      <!-- /.content -->
    <!-- /.content-wrapper -->
  </div>
  <!-- SampleData Modal -->
  <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background:#838282;color:white;height:50px">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sample Input Data</h4>
          </div>
          <div class="modal-body" style="overflow:scroll;height:400px">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped table-hover">
                  <thead class="inputHead">
                    <tr>
                      <td class="inputData" ng-repeat="cols in smapleInputData.colSet track by $index">{{cols}}</td>
                    </tr>
                  </thead>
                  <tbody ng-repeat="dataRows in smapleInputData.dataSet">
                    <tr>
                      <td class="inputBodyData" ng-repeat="value in dataRows track by $index">{{value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btndefault" style="width:10%" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div
