<div class="col-md-offset-2 col-sm-offset-3 col-xs-offset-1 content-wrapper leftmargin">
    <div class="main">
        <div class="alpha">
            <ul class="pageHeader">
                <li>Configure PDF Info</li>
            </ul>
        </div>
    </div>

     <!--PDF INFO-->
    <section class="contentSection">
    <div class="row tableBox">
        <!-- Your Page Content Here -->
         <div id="mydiv">
             <img  class="mappingSpinner" src="/static/images/page-loader.gif"/>
         </div>
        <form ng-submit="createPDFInfo(header,footer,headerCount,footerCount,recordType,ruleType,pageCount,identifierTextCheck,identifierLine,location)" >
        <div class="container-fluid contentbody" data-ng-init="getPdfData()" >
        <div class="row" style="margin-top: -17px;">
                  <div class="col-md-7 ">
                  </div>
                  <div class="col-md-2" style="margin-left: 8%;">
                      <button type="button" class="btn btndefault" name="button" ng-click="openPDFFile()">Open PDF</button>
                  </div>

                  <div class="col-md-2">
                    <button type="button" ng-disabled="svFlag" class="btn btndefault" name="button"  ng-click="savePdfInfo()">Next</button>
                  </div>

        </div>
        <div class="row">
        <div class="col-md-7">
            <div class="row" style="margin-bottom: 3%;">
                <div class="col-md-4">
                    <label  class="text-uppercase">Select Header</label>
                </div>
                <div class="col-md-8">
                    <p>
                        <select class="pdfSelect"  name = "header" ng-model="header" ng-options="header for header in ['None','lineCount']" required>
                            <option value=""> Select Header</option>
                        </select>
                        <input type="number"  name="headerCount" ng-show="header=='lineCount'" ng-model="headerCount">
                    </p>

                </div>
            </div>
            <div class="row" style="margin-bottom: 3%;">
                <div class="col-md-4">
                    <label  class="text-uppercase">Select Footer</label>
                </div>
                <div class="col-md-8">
                    <p>
                       <select class="pdfSelect"  ng-model="footer" ng-options="footer for footer in ['None','lineCount']" required>
                            <option value=""> Select Footer</option>
                       </select>&nbsp;&nbsp;
                        <input  type="number" ng-show="footer=='lineCount'" ng-model="footerCount">
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="margin-bottom: 3%;">
                    <label  class="text-uppercase">Select recordType</label>
                </div>
                <div class="col-md-8">
                    <select class="pdfSelect"  ng-model="recordType" ng-options="recordType for recordType in ['single','multiple']" required>
                        <option value=""> Select recordType</option>
                    </select>
                </div>
            </div>

            <div class="row" ng-show="recordType=='multiple'" style="margin-bottom: 3%;">
                <div class="col-md-4">
                    <label class="text-uppercase">Rule Type </label>
                </div>
                <div class="col-md-8">
                    <select class="pdfSelect"  ng-model="ruleType" ng-options="ruleType for ruleType in ['pageRule','textlineRule']"
                        ng-change="setRuleFlag()">
                        <option value=""> Select rule type</option>
                    </select>
                </div>
            </div>

            <div class="row" ng-show="recordType=='multiple' && ruleFlag" style="margin-bottom: 3%;">
                <div class="col-md-4">
                    <label class="text-uppercase">page Count </label>
                </div>
                <div class="col-md-8">
                   <input  type="number" ng-model="pageCount">
                </div>
            </div>
            <div class="row" ng-show="!ruleFlag && recordType=='multiple'" style="margin-bottom: 3%;">
                <div class="col-md-4">
                    <label class="text-uppercase">Text Check </label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="identifierTextCheck" ng-model="identifierTextCheck">
                </div>
            </div>

            <div class="row" ng-show="!ruleFlag && recordType=='multiple'" style="margin-bottom: 3%;">
                <div class="col-md-4">
                    <label class="text-uppercase">Identifier Line </label>
                </div>
                <div class="col-md-8">
                    <input type="number" ng-model="identifierLine">
                </div>
            </div>

            <div class="row" ng-show="!ruleFlag && recordType=='multiple'" style="margin-bottom: 3%;">
                <div class="col-md-4"><label class="text-uppercase">Location</label></div>
                <div class="col-md-8">
                    <select class="pdfSelect"  ng-model="location" ng-options="location for location in ['top','bottom']">
                        <option value=""> Select Location</option>
                    </select>
                </div>
            </div>
            <button class="btn btndefault" style="width:40%" type="submit"  value="Create PDF info">Test PDF INFO</button>
        </div>
        <div class="col-md-5">
            <h3 ng-if="recordCount">Record Count is {{recordCount}} </h3>
        </div>
        </div>
    </div></form>
    </div>
    </section>

  </div>