<div class="row">
  <nav class="navbar navbar-default" style="margin-top:-20px">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="adminException">Speciality Exception</a></li>
      <li ui-sref-active="active"><a ui-sref="degException">Degree Exception</a></li>
      <li ui-sref-active="active"><a ui-sref="mstrDeg">Degree</a></li>
      <li ui-sref-active="active"><a ui-sref="mdLvlSpc">Speciality</a></li>
      <li ui-sref-active="active"><a ui-sref="langCode">Language Code</a></li>
      <li ui-sref-active="active"><a ui-sref="usStates">Us States</a></li>
      <!-- <li ui-sref-active="active"><a ui-sref="hspAffStatus">Hospital Affilation Satus</a></li> -->
      <!-- <li ui-sref-active="active"><a ui-sref="pcpVsSpec">PCP Vs Specialist</a></li> -->
      <!-- <li ui-sref-active="active"><a ui-sref="standards">Standards</a></li> -->
    </ul>
  </nav>
</div>
