<div class="col-md-offset-2 col-sm-offset-3 col-xs-offset-1 content-wrapper leftmargin">
  <div class="main">
    <div class="alpha">
      <ul class="pageHeader">
        <li>Reference Data- <small>US States</small></li>
      </ul>
    </div>
  </div>
    <!-- Main content -->
    <section class="contentSection">
      <div class="row tableBox">
      <!-- Your Page Content Here -->
      <div class="container-fluid contentbody" data-ng-init="getDataList('us_states.csv')">
        <div ng-include="'static/template/refDataHeader.html'"></div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-md pull-left btndefault addRowBtn" ng-click="addRow()">ADD Row</button>
              </div>
              <div class="col-md-6">
                <input class="inputSearch" type="text" placeholder="Search" ng-model="viewSearch">
              </div>
            </div>
            <div class="row">
              <table class="col-md-12 table table-striped table-hover" cellspacing="0" width="100%" fixed-header height="327px;">
                  <thead class="inputHead">
                    <tr>
                        <th></th>
                        <th>US State</th>
                        <th>Abbreviation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="newDt in newDataList track by $index">
                      <td>
                        <span class="glyphicon glyphicon-remove removeRow" ng-click="removeNewData($index)"></span>
                      </td>
                      <td>
                        <div class="form-group inputControl">
                          <input type="text" class="form-control" ng-model="newDt.us_state">
                        </div>
                      </td>
                      <td>
                        <div class="form-group inputControl">
                          <input type="text" class="form-control" ng-model="newDt.abbreviation">
                        </div>
                      </td>
                    </tr>
                    <tr ng-repeat="dt in dataList | filter:viewSearch track by $index">
                        <td>
                          <span class="glyphicon glyphicon-remove removeRow" ng-click="removeData($index)"></span>
                        </td>
                        <td class="inputBodyData" style="font-size:12px;">{{dt.us_state}}</td>
                        <td class="inputBodyData" style="font-size:12px;">{{dt.abbreviation}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <div class="row pull-right">
          <div class="saveDiv">
            <span class="glyphicon glyphicon-floppy-saved saveIcon" ng-click="setUsStateList()"></span>
          </div>
        </div>
      </div>
     </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
